<div class="container-fluid">
  <div class="row">
<!--    <div class="col-lg-2">-->
<!--            <app-left-side-bar></app-left-side-bar>-->
<!--    </div>-->
    <div class="col-lg-12" style="padding-left: 0">
      <nav class="navbar navbar-light">

<!--        <form class="form-inline" [formGroup]="searchForm">-->
<!--          <input class="form-control mr-sm-2" type="search" placeholder="Mã thành viên"-->
<!--                 aria-label="Search" formControlName="code">-->
<!--          <input class="form-control mr-sm-2" type="search" placeholder="Tên thành viên"-->
<!--                 aria-label="Search" formControlName="name">-->
<!--          <input class="form-control mr-sm-2" type="search" placeholder="Số điện thoại"-->
<!--                 aria-label="Search" formControlName="phone">-->
<!--          <button class="btn btn-success " style="background: #058af0; margin-left: 7px"-->
<!--                  type="submit" (click)="searchUser()">Tìm kiếm-->
<!--          </button>-->
<!--        </form>-->

      </nav>


      <!--header-->
      <div class="container" style="width: 100%">
        <div class="row" style="background-color: ghostwhite; margin-top: 5px">
          <!--    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-alt-circle-up"></i></button>-->
          <div class="col-lg-1"></div>
          <div class="col-lg-3"><a href="#"><img id="logo"
                                                 src="https://i.imgur.com/OzTNxw7.png"
                                                 width="100%"></a></div>
          <div class="col-lg-5" style="display: grid">
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8" style="width: 100%; margin: auto">

                <form class="form-inline">

                  <input class="form-control" placeholder="Tìm tên phim">
                  <button type="submit" class="btn btn-outline"><i class="fas fa-search"></i></button>


                </form>
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
          <div class="col-lg-3" style="padding: 15px">
            <div class="row navbar-navInfor" style="background-color: ghostwhite; ">
              <div class="col-lg-12 " style="float: left">
                <button class="btn" style="color: #031327 ; width: 100% "
                        title="Đăng nhập"><i class="fas fa-user-alt"></i>Đăng nhập
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row navbar-header" style="background-color: #031327; ">
        <div class="col-12">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light"
                 style="background-color: #031327; padding-left: 30px">
              <button class="navbar-toggler" type="button" data-toggle="collapse"
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active navLi">
                    <a class="nav-link text-white" href="#">LỊCH CHIẾU PHIM
                      <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active navLi">
                    <a class="nav-link text-white" href="#">PHIM ĐANG CHIẾU
                      <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active navLi">
                    <a class="nav-link text-white" href="#">PHIM SẮP CHIẾU
                      <span class="sr-only">(current)</span></a>
                  </li>


                  <li class="nav-item navLi">
                    <a class="nav-link text-white " href="#"><span>SỰ KIỆN</span></a>
                  </li>
                  <li class="nav-item navLi" href="#">
                    <a class="nav-link text-white">GÓC ĐIỆN ẢNH</a>
                  </li>
                  <li class="nav-item navLi">
                    <a class="nav-link text-white" href="#">HỖ TRỢ</a>
                  </li>
                  <li class="nav-item navLi">
                    <a class="nav-link text-white" href="#">THÀNH VIÊN</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>




      <h2 style="text-align: center">Danh sách thành viên</h2>

      <table class="table table-hover table-striped">
        <thead>
        <tr class="table-primary text-center">
          <th scope="col">#</th>
          <th scope="col">Mã thành viên</th>
          <th scope="col">Họ tên</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Giới tính</th>
          <th scope="col">Email</th>
          <th scope="col">Số CMND</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Sửa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of userList index as i" class="text-center">
          <td>{{i + 1}}</td>
          <td>{{u.code}}</td>
          <td>{{u.name}}</td>
          <td>{{u.birthday}}</td>
          <td *ngIf="u.gender==1">Nam</td>
          <td *ngIf="u.gender==0">Nữ</td>
          <td>{{u.email}}</td>
          <td>{{u.idCard}}</td>
          <td>{{u.phone}}</td>
          <td>{{u.address}}</td>
          <!--          <td><p *ngIf="u.user">{{u.user.username}}</p></td>-->


                    <td style="text-align: center">
                      <button class=" btn-edit btn" style="background: #058af0" [routerLink]="['/user/edit/', u.id]"><i class="far fa-edit"></i></button>
                    </td>

        </tr>

        </tbody>
      </table>
      <div style="text-align: center" *ngIf="errMessage">
        <h2 style="color: red">{{errMessage}}</h2>
      </div>

      <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3">
          <nav aria-label="..." *ngIf="!errMessage" style="float: right">
            <ul class="pagination">
              <li class="page-item">
                <button class="page-link" *ngIf="page > 0" (click)="previousPage()">Trước</button>
              </li>
              <li class="page-item active" aria-current="page">
                <button class="page-link" *ngIf="page < 2 && page == 0" [value]="0" #page1
                        (click)="setPage(page1.value)">1
                </button>
              </li>
              <li class="page-item">
                <button class="page-link" *ngIf="page < 2 && page != 0 " [value]="0" #page2
                        (click)="setPage(page2.value)">1
                </button>
              </li>
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page < 2 && page == 0 && pageUser.totalPages > 1" [value]="1" #page3-->
<!--                        (click)="setPage(page3.value)">2-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="page-item active" aria-current="page">-->
<!--                <button class="page-link" *ngIf="page < 2 && page != 0 && pageUser.totalPages > 1" [value]="1" #page4-->
<!--                        (click)="setPage(page4.value)">2-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page < 2 && pageUser.totalPages > 3" [value]="2"-->
<!--                        #page5 (click)="setPage(page5.value)">3-->
<!--                </button>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page > 1" [value]="page - 1" #page6-->
<!--                        (click)="setPage(page6.value)">{{page}}</button>-->
<!--              </li>-->
<!--              <li class="page-item active" aria-current="page">-->
<!--                <button class="page-link" *ngIf="page > 1" [value]="page" #page7-->
<!--                        (click)="setPage(page7.value)">{{page + 1}}</button>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page < (pageUser.totalPages - 2) && page > 1" [value]="page + 1"-->
<!--                        #page8 (click)="setPage(page8.value)">{{page + 2}}</button>-->
<!--              </li>-->

<!--              <li class="page-item"><p class="page-link" *ngIf="page <  pageUser.totalPages - 3 ">...</p></li>-->
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page < pageUser.totalPages - 1 && pageUser.totalPages > 2"-->
<!--                        [value]="pageUser.totalPages - 1" #page9-->
<!--                        (click)="setPage(page9.value)">{{pageUser.totalPages}}</button>-->
<!--              </li>-->
<!--              <li class="page-item">-->
<!--                <button class="page-link" *ngIf="page + 1 < pageUser.totalPages" (click)="nextPage()">Sau</button>-->
<!--              </li>-->
            </ul>
          </nav>
        </div>
      </div>

      <div style="text-align: center ; margin: 10px 0px 10px 0px ">
        <button class=" btn btn-secondary" style="text-align: center" routerLink="/system">Quay lại</button>
      </div>

    </div>
  </div>


  <!--footer-->
  <div class="container-fluid" style="width: 100%;" id="footer">
    <div class="row footer" style="background-color: #031327; font-size: 12px; margin-top: 5px">
      <div class="col-lg-4" style="text-align: justify; padding-left: 100px ">
        <span style="font-weight: bold; color: white; margin-bottom: 5%"> C0721G1 MOVIE</span>
        <br>
        <br>
        <span style="color: white">
           C0721G1 MOVIE trân trọng giá trị của sự kết nối và đề cao trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng và sẽ lan tỏa cảm hứng đó đến khán giả của mình thông qua những thước phim tuyệt phẩm và chất lượng phục vụ chu đáo.
        </span></div>
      <div class="col-lg-4" style="text-align: justify;color: white">
        <span style="font-weight: bold;">LIÊN HỆ:</span>
        <br>
        <br>
        <span style="font-weight: bold;">Trụ sở:</span>
        <span>Căn hộ TT01.23, dự án Hải Đăng city, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội, Việt Nam</span>
        <br>
        <span style="font-weight: bold;">Chi nhánh 1:</span>
        <span>CODEGYM MON City, Hà Nội, Nhà số 23, Lô TT01, Khu đô thị Mon City, Phường Mỹ Đình 2, Quận Nam Từ Liêm, Hà </span>
        <br>
        <span style="font-weight: bold;">Chi nhánh 2:</span>
        <span>CODEGYM HUẾ, Tần 4, toà B trường Đại học Phú Xuân Cơ Sở 1, số 28 Nguyễn Tri Phương, phường Phú Xuân, TP. </span>
        <br>
        <span style="font-weight: bold;">Chi nhánh 3:</span>
        <span>CODEGYM ĐÀ NẴNG, Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, TP. Đà Nẵng</span>
        <br>
        <span style="font-weight: bold;">Hotline:</span>
        <span>0913379559</span>
        <br>
        <span style="font-weight: bold;">Điện thoại:</span>
        <span>023.66.517.021</span>
        <br>
        <span style="font-weight: bold;">Email:</span>
        <span>info@codegym.vn</span>
      </div>
      <div class="col-lg-4" style="text-align: justify;">
        <span style="font-weight: bold;color: white ">THÔNG TIN CÔNG TY</span>
        <br>
        <br>
        <span><a style="color: white" href="#">Công ty TNHH Codegym</a></span>
        <br>
        <span><a style="color: white" href="#">Giấy CNĐKKD: 0400668112 - Ngày cấp: 05/11/2008. Đăng ký thay đổi lần thứ 11 ngày 21/12/2016</a></span>
        <br>
        <span><a style="color: white" href="#">Cơ quan cấp: Phòng Đăng ký kinh doanh - Sở kế hoạch và đầu tư Thành phố Đà Nẵng</a></span>
        <br>
        <span><a style="color: white" href="#">Địa chỉ đăng ký kinh doanh: Tầng 10, 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, TP. Đà Nẵng, Việt Nam.</a></span>
      </div>
    </div>
    <div class="row" id="copyright">
      <div class="col-lg-4" style="padding-left: 0px">
        <span>COPYRIGHT<i class="fa fa-copyright" aria-hidden="true">2021 CODEGYM.VN</i></span></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        <a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>




</div>




