<div class="row" style="height: 100px">
  <div class="col-12"></div>
</div>
<div class="row text-center">
  <div class="col-12">
    <h2>ĐĂNG NHẬP</h2>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form [formGroup]="loginForm">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" id="form3Example3" class="form-control"
               name="username" formControlName="username"/>
        <label class="form-label" for="form3Example3">Tên đăng nhập</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-3">
        <input type="password" id="form3Example4" class="form-control"
               name="password" formControlName="password"/>
        <label class="form-label" for="form3Example4">Mật khẩu</label>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
          <input formControlName="remember" name="remember-me" type="checkbox" class="form-check-input me-2"
                 id="form2Example3"/>
          <label class="form-check-label" for="form2Example3">
            Ghi nhớ
          </label>
        </div>

      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <button style="width: 100%" type="button" (click)="onSubmit()" class="btn btn-primary">Đăng nhập</button>
      </div>
    </div>
    <div class="row text-center" style="margin-top: 5px;">
      <div class="col-12">
        <a type="button" (click)="signInWithFacebook()" class="btn btn-outline-primary"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a  type="button" (click)="signInWithGoogle()" style="margin-left: 15px;" class="btn btn-outline-danger"><i class="fab fa-google"></i> Google</a>
        <p class="small fw-bold mt-2 pt-1 mb-0">Chưa có tài khoản?
          <a href="#$$%^!" style="text-decoration: none" class="text-danger">Đăng ký</a><br>
          <a href="#modelId" style="text-decoration: none" data-toggle="modal" class="test-primary">Quên mật khẩu</a>
        </p>
      </div>

    </div>
    <div class="col-4"></div>
  </div>
</div>

<!-- Modal Quên mật khẩu -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Quên mật khẩu</h5>

      </div>
      <div class="modal-body">
        <p style="color:darkgrey">Vui lòng cung cấp email đăng nhập, chúng tôi sẽ gửi link kích hoạt cho bạn.
        </p>
        <input class="form-control" [(ngModel)]="forgotEmail"  id="email" type="text" placeholder="Email">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" (click)="getPassword()" data-dismiss="modal" class="btn btn-primary">Cấp lại mật khẩu</button>
      </div>
    </div>
  </div>
</div>
<button (click)="signOut()">Sign Out</button>
<div *ngIf="user">
  <img src="{{user.photoUrl}}" alt="">
  <h4>{{user.name}}</h4>
  <h4>{{user.email}}</h4>
</div>
